<div class="pageActivity">
    <div class="bar">
        <div ></div>
        <div>管理员</div>
        <div @click="edit()">
            新建
        </div>
        
    </div>
    <div class="pageBody">
        <div v-if="waiting.loading"
            style="height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else >
            <div style="padding: 1rem">
            
            <div style="overflow-x: auto;">
                <table class="table">
                    <tr>
                        <th>账号</th>
                        <th>管理员</th>
                        <th>密钥时间</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="obj in object_list">
                        <td >
                            {{obj.username}}
                        </td>
                        <td >
                            {{obj.nikename}}
                        </td>
                        <td >
                            {{Display.datetime(obj.token)}}
                        </td>
                        <td>
                            <button class="btn btn-primary" @click="model_edit(obj)">编辑</button>
                        </td>
                    </tr>
        
                </table>                
            </div>
        </div>

        </div>
    </div>

    <div class="flex-center" style="padding: 0.5rem 1rem; background:#f0f0f0">
        <button class="link" @click="get_next_page(-1)">上一页</button>
        第<input v-model.number="current_page" class="page">页
        <span class="weak">共{{get_last_page()}}页</span>
        <button class="link" @click="get_next_page(1)">下一页</button>        
    </div>

</div>
<div class="dialog" :class="{active: rm_objs}">
    <div class="dialog-body">
        <div class="bar">
            <div style="font-weight: bold;">删除确认</div>
            <div @click="rm_objs=null">
                <i class="fas fa-times-circle" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="body">是否删除选中的数据</div>
        <div class="footer">
            <button class="btn btn-danger" @click="delete_objs(true)">确认</button>
        </div>
    </div>
</div>