<div class="pageActivity">
    <div class="bar"></div>
    <div class="body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>累计连接</th>
                            <td>{{count.TOTAL_CONNECT}}</td>
                        </tr>
                        <tr>
                            <th>累计请求</th>
                            <td>{{count.TOTAL_REQUEST}}</td>
                        </tr>
                        <tr>
                            <th>非法请求</th>
                            <td>{{count.BAD_REQUEST}}</td>
                        </tr>
                        <tr>
                            <th>有效请求</th>
                            <td>{{count.VALID_REQUEST}}</td>
                        </tr>
                        <tr>
                            <th>静态请求</th>
                            <td>{{count.STATIC_REQUEST}}</td>
                        </tr>
                        <tr>
                            <th>当前连接</th>
                            <td>{{count.CURRENT_CONNECT}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <button class="btn btn-primary" @click="get_overview()">刷新</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>