<div class="pageActivity">
    <div class="bar">
        <div @click="main.go_back()">
            <i class="fas fa-times-circle" style="font-size: 1.5rem;"></i>
        </div>
        <div>缓存数据库:{{filters.db}}</div>
        <div></div>
        
    </div>
    <div class="pageBody">
        <div v-if="waiting.loading"
            style="height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else >
            <div class="db-key" v-for="obj in object_list" @click="get_value(obj)">
                {{obj}}
            </div>
        </div>
    </div>

    <div class="flex-center" style="padding: 0.5rem 1rem; background:#f0f0f0">
        <button class="link" @click="get_next_page(-1)">上一页</button>
        第<input v-model.number="current_page" class="page">页
        <span class="weak">共{{get_last_page()}}页</span>
        <button class="link" @click="get_next_page(1)">下一页</button>        
    </div>

</div>
<div class="dialog" :class="{active: value!=null}">
    <div class="dialog-body" >
        <div class="body" v-if="value">
            <div>{{value.k}}:{{value.t}}:{{value.ttl}}秒</div>
            {{value.v}}
        </div>
        <div class="footer">
            <button class="btn" @click="value=null">关闭</button>
        </div>
    </div>
</div>