<div class="pageActivity">
    <div class="bar">
        <div ></div>
        <div>导出数据</div>
        <div></div>
        
    </div>
    <div class="pageBody">
        <div class="panel">
            <input ref="inputFile" type="file">
            <button @click="importData()">导入</button>
            <button @click="exportData()">导出</button>
        </div>
        <div v-if="waiting.loading"
            style="height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else >            
            <div style="overflow-x: auto;">
                <table class="table">
                    <tr>
                        <th >
                            <i class="fa-regular" :class="[selected_all?'fa-square-check':'fa-square']" @click="selectAll()"></i>
                        </th>
                        <th>数据集</th>
                        <th>说明</th>
                    </tr>
                    <tr v-for="obj in object_list">
                        <td >
                            <input type="checkbox" :value="obj.model_name" v-model="selected">
                        </td>
                        <td >
                            {{obj.model_name}}
                        </td>
                        <td >
                            {{obj.verbose_name}}
                        </td>
                    </tr>
        
                </table>                
            </div>
        </div>
    </div>

</div>
