<div class="pageActivity">
    <div class="bar">
        <div ></div>
        <div>缓存数据库</div>
        <div></div>
        
    </div>
    <div class="pageBody">
        <div v-if="waiting.loading"
            style="height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else >
            <div class="db" v-for="obj in object_list" @click="main.new_page('.db', obj)">
                {{obj}}
            </div>
        </div>
    </div>

</div>
