body{
    font-size:16px;
}
.body{
    display:flex;
}
@media screen and (max-width: 768px){
    .body{
        flex-direction: column;
    }
}
.dialog{
    position: fixed;
    display:none;
    overflow:hidden;
    top:0;
    left:0;
    align-items:center;
    justify-content:center;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index:1000;
}
.dialog.active{
    display:flex;
}
.dialog .dialog-content{
   width: 80%;
   max-height: 80vh;
   overflow-y: auto;
   background-color: #fff;
   padding: 1rem;
   border: 1px solid #eee;
   border-radius: .3rem;
}
.dialog .dialog-body{
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fff;
    border-radius: .3rem;
}

.dialog .dialog-body .bar{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem;
    background-color: #f0f0f0;
}
.dialog .dialog-body .body{
    flex-grow: 1;
    max-height: 70vh;
    overflow: auto;
    display: block;
}
.dialog .dialog-body .footer{
    text-align: center;
    padding: 1rem;
}
.dialog .dialog-body .footer .btns{
    display: flex; 
    justify-content:space-between;
    align-items: center;
}

.tab-btn{
    color: #9d9d9d;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding-top: 5px;
    height: 55px;
}
.tab-btn.active{
    color: #345274;
}

.pageActivity{
    display:flex;
    flex-direction: column;
    height:100%;
    background-color: #fff;
}
.pageActivity>div{
    flex-shrink:0;
}
.pageActivity .pageBody{
    flex-grow: 1;
    flex-shrink:1;
    overflow-x: hidden;
}

.pageActivity .bar{
   width:100%;
   height: 44px;

   display: flex;
   align-items: center;
   background: #fff;
   color: #345274;
   font-size:18px;

   text-align:center;
   z-index: 100;
}
.pageActivity .bar button{
    border: 1px solid #fff;
}
.pageActivity .bar>div{
   width: 100%;
}

.pageActivity .bar>div:first-child,
.pageActivity .bar>div:last-child{
    width:64px;
    cursor: pointer;
}
.pageActivity .bar>div:first-child,
.pageActivity .bar>div:last-child{
    color: #345274;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.9rem;
}

.pageActivity .bar>div:first-child:hover,
.pageActivity .bar>div:last-child:hover{
    background-color: #345274;
    color: #fff;
}

.pageActivity .pagePanel{
    height: 60px;
    background-color:#fff;
    font-size:12px;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0px 0px 6px 0px #f0f0f0;
}
.pageActivity .pagePanel .fa{
    display: block;
    font-size:20px;
}
.pageActivity .pagePanel img{
    display: block;
    width: 30px;
}

.center {
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
}

.pageActivity .pageFloatBtn{
    position:absolute;
    width:50px;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 100px;
    border: none;

}

input.line{
    border-top: 0;
    border-left: 0;
    border-right: 0;
 	width: 100%;
	padding: 0 1rem;
	text-align: right;
	background: transparent;
}
input.page{
    width: 4rem;
    text-align: center;
    border: none;
    display: inline-block;
    margin: 0 0.5rem;
}

.btn-skin{
    background-color:  #009999;
    color: #fff;
    border-radius: 100px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.part{
    padding:0 8px;
    margin-bottom: 7px;
    background-color: #fff;
 }
.part .item{
    display: flex;
    padding:5px;
    min-height:50px;
    align-items: center;
    border-bottom:1px solid #e5e5e5;
 }
.part .item>*:first-child{
    width:85px;
    border-right: 1px solid #e5e5e5;
 }
.part .item .required:after{
    content: '*';
    color: red;
 }

.part .item>*:last-child{
    width: calc(100% - 85px);
    color: #555;
    text-align: right;
 }

 .part input{
    background: none;
    border:none;
    outline:none;
    text-align: right;
    color:#555;
 }
 .part textarea{
    padding:10px;
    background: none;
    border:none;outline:none;
    color:#555;text-align: right;
 }
.link{
    border: none;
    background-color: transparent;
}

/* toast框样式 */

.r100{
    border-radius: 100px;
}

.more{
    text-align: center;
    padding: 1rem;
    color: #909399;
}

.weak{
    color: #909399;
}

.panel{
    padding: 0.5rem;
    background-color: #f0f0f0;
}

