/* menu */
.menu{
    width: 0; 
    height: 100vh;
    background-color: #0b5ed7;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: width 0.5s;
}
.menu .no-event{
    pointer-events: none;
}

.menu.show{
    width: 250px;
}
.menu.sidebar.show{
    width: 56px;
}
.menu .bar{
    display: none;
}

.menu .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    flex: 0 0 auto;
    text-align: center;
}
.menu .header div{
    flex-grow: 1;
}
.menu.sidebar .header div{
    flex-grow: 0;
    width: 0;
    overflow: hidden;
}

.menu .header i{
    display: block;
    width: 44px;
    line-height: 44px;
    text-align: center;
    margin: 0;
}
.menu.sidebar .header i{
    width: 56px;
}
.menu .items{
    transition: all 0.3s; 
    overflow: hidden;
    
}
.menu.sidebar .items .items{
    display: none;
}

.menu .root{
    flex-grow: 1;
    /*overflow: hidden;
    scroll-behavior: smooth;
    */
    overflow-y: auto;
}
.menu.sidebar .root{
    overflow: hidden;
}

.menu .footer,
.menu .items .item>button{
    width: 100%;
    padding: 1rem;
    border: none;
    text-align: left;
    background-color: rgba(0,0,0,0);
    color: #fff;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.menu i{
    display: inline-block;
    margin-right: 1rem;
}
.menu .items .item>button.wrapper:after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.menu .items .item>button.wrapper.expand:after{
    transform: rotate(135deg);
}
.menu .items .item>button.selected{
    background-color: rgba(0,0,0,0.1);
}
.menu .footer{
    flex: 0 0 auto;
    justify-content: center;
}

.menu .footer:hover,
.menu .header i:hover,
.menu .items .item>button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}
.menu.sidebar .items button.wrapper:after,
.menu.sidebar .items .label{
    display: none;
}

@media screen and (max-width: 768px){
    body{
        display: block;
    }
    #main{
        margin-top: 48px;        
        flex-grow: 1;
        height: calc(100vh - 48px);
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: auto;
        top: 0;
        z-index: 99999;
    }
    .menu.show{
        width: 100vw;
    }
    .menu .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        width: 100vw;
    }
    .menu .bar>div:first-child{
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
    }
    .menu .bar>div:first-child>i{
        margin: 0;     
        pointer-events: none;
    }
    .menu .items{
        height: 0;
    }
    .menu .footer,
    .menu .header{
        display: none;
    }

}