.logo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-size{
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 1rem;
    padding: 5px 1rem;
}

.btn-size:hover{
    border: 1px solid #999;
}