<div class="pageActivity">
    <div class="bar">
        <div ></div>
        <div >我的账号</div>
        <div></div>
    </div>
    <div class="pageBody">
        <table class="table">
            <tr>
                <td>帐号</td>
                <td>{{profile.username}}</td>
            </tr>
            <tr>
                <td>昵称</td>
                <td>{{profile.nikename}}</td>
            </tr>
            <tr>
                <td>上次更新</td>
                <td>{{profile.token}}</td>
            </tr>
            <tr>
                <td>密码</td>
                <td><button class="btn btn-primary">重置</button></td>
            </tr>
        </table>
    </div>
</div>