<div class="dialog active" >
    <div class="dialog-body" >
        <div class="bar">
            <div style="font-weight: bold;">编辑</div>
            <div @click="main.go_back()">
                <i class="fas fa-times-circle" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="body">
            <div class="part">
                <div v-for="field in fields" v-if="field.type!='auto'" class="item">
                    <label :class="{required: !field.nullable}">{{get_verbose_name(field)}}</label>
                    <select class="form-select" v-if="field.type=='select'" v-model="form[field.name]">
                        <option :value="option[0]" v-for="option of field.choice">{{option[1]}}</option>
                    </select>
                    <input class="form-input" v-if="field.type=='char'" v-model="form[field.name]" >
                    <input class="form-input" v-if="field.type=='float'" v-model="form[field.name]" >
                    <input class="form-input" v-if="field.type=='int'" v-model="form[field.name]" type="number" >
                    <input class="form-input" v-if="field.type=='timestamp'" v-model="form[field.name]" type="number">
                    <textarea style="width:100%" v-if="field.type=='text'" v-model="form[field.name]" rows="5"></textarea>
                    <div v-if="field.type=='image'">
                        {{form[field.name]}}
                        <input type="file" @change="select_file($event, field)">
                    </div>
                </div>
            </div>    
        </div>
        <div class="footer">
            <div style="display: flex; justify-content:space-between;" v-if="!waiting.submit">
                <div>
                    <button class="btn btn-danger" @click="delete_obj()">删除</button>    
                </div>
                <div>
                    <button class="btn btn-primary" @click="submit()">确认</button>    
                </div>
            </div>
            <div v-else>提交中...</div>    
        </div>
    </div>
</div>
