<div class="pageActivity">
    <div class="bar">
        <div ></div>
        <div v-text="model_obj.verbose_name"></div>
        <div @click="model_edit()">
            <i class="fas fa-plus"></i>新建
        </div>
        
    </div>
    <div class="pageBody">
        <div v-if="waiting.loading"
            style="height: 30vh; display: flex; justify-content: center; align-items: center;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else >
            <div class="toolbar">
                <div>
                    <button v-if="selected.length" class="btn btn-danger" @click="delete_objs()">删除</button>
                </div>
                <div>
                    <div class="btn btn-secondary" @click="set_fields()">
                        <i class="fas fa-sliders-h"></i>
                    </div>    
                </div>
            </div>
            <div style="padding: 1rem">
            
            <div style="overflow-x: auto;">
                <table class="table">
                    <tr>
                        <th >
                            <input type="checkbox" v-model="selected_all" :value="true">
                        </th>
                        <th v-for="field in fields" v-if="field.show">
                            {{get_verbose_name(field)}}
                            <i class="fas fa-key" v-if="field.primary_key"></i>
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    <tr v-for="obj in object_list">
                        <td >
                            <input type="checkbox" :value="get_pk(obj)" v-model="selected">
                        </td>
                        <td v-for="field in fields" v-if="field.show">
                            {{get_value(obj, field)}}
                        </td>
                        <td>
                            <button class="btn btn-primary" @click="model_edit(obj)">编辑</button>
                        </td>
                    </tr>
        
                </table>                
            </div>
        </div>

        </div>
    </div>

    <div class="flex-center" style="padding: 0.5rem 1rem; background:#f0f0f0">
        <button class="link" @click="get_next_page(-1)">上一页</button>
        第<input v-model.number="current_page" class="page">页
        <span class="weak">共{{get_last_page()}}页</span>
        <button class="link" @click="get_next_page(1)">下一页</button>        
    </div>

</div>
<div class="dialog" :class="{active: is_delete_objs}">
    <div class="dialog-body">
        <div class="bar">
            <div style="font-weight: bold;">删除确认</div>
            <div @click="is_delete_objs=false">
                <i class="fas fa-times-circle" style="font-size: 1.5rem;"></i>
            </div>
        </div>
        <div class="body">是否删除选中的数据</div>
        <div class="footer">
            <button class="btn btn-danger" @click="delete_objs(true)">确认</button>
        </div>
    </div>
</div>