<div class="login">
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="form">
            <div style="text-align: center; font-size: 0.8rem;">
                <h5>数据中心</h5>
                <div>{{now}}</div>
                <input v-model="form.username" placeholder="用户名">
                <input v-model="form.password" placeholder="密钥" type="password">
                <button @click="login()">登录</button>
            </div>
        </div>
    </div>

</div>